stepFuntionConfig.json
{
    "Comment": "A description of my state machine",
    "StartAt": "ibeere-1",
    "States": {
      "ibeere-1": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:276913446282:function:seere:$LATEST"
        },
        "Next": "ese-keji"
      },
      "ese-keji": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:276913446282:function:seere-lekeji:$LATEST"
        },
        "Next": "ese-topari"
      },
      "ese-topari": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:276913446282:function:seere-lakotan:$LATEST"
        },
        "End": true
      }
    }
  }